<div class="container">
<h1>Les Évènements</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Sous-titre</th>
      <th>Description</th>
      <th>Llieu</th>
      <th>Date du début</th>
      <th>Date de fin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.sub_title %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Voir les détails', event, class:"buttonGreen" %></td>
        <td><%= link_to 'Modifier', edit_event_path(event),class:"buttonBlue" %></td>
        <td><%= link_to 'Supprimer', event, method: :delete, data: { confirm: "Voulez vous supprimer l'évènement" }, class:"buttonRed" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un évènement', new_event_path, class: "buttonGreen" %>

</div>