<div class="container"> 

<p>
  <strong>Titre:</strong><br>
  <%= @event.title %>
</p>

<p>
  <strong>Sous-titre:</strong><br>
  <%= @event.sub_title %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @event.description %>
</p>

<p>
  <strong>Lieu:</strong><br>
  <%= @event.location %>
</p>

<p>
  <strong>Date de début:</strong><br>
  <%= @event.start_time %>
</p>

<p>
  <strong>Date de fin:</strong><br>
  <%= @event.end_time %>
</p>

<%= link_to 'Modifier', edit_event_path(@event), class:"buttonBlue" %> |
<%= link_to 'Retour', events_path, class:"buttonGreen" %>

</div>