<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, :value => current_user.id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="field">
    <%= form.label :sub_title %>
    <%= form.text_area :sub_title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>
  <div class='field'>
    <%= form.label :Seo_title %>
    <%= form.text_field :seo_title %>
  </div>
    <div class='field'>
    <%= form.label :Seo_Description %>
    <%= form.text_area :seo_description %>
  </div>
  <div class='field'>
    <%= form.label :Seo_Key_Word %>
    <%= form.text_area :seo_keyword1 %>
  </div>
  <div class='field'>
    <%= form.label :Seo_Key_Word %>
    <%= form.text_area :seo_keyword2 %>
  </div>
  <div class='field'>
    <%= form.label :Seo_Key_Word %>
    <%= form.text_area :seo_keyword3 %>
  </div>
  <div class='field'>
    <%= form.label :Seo_Key_Word %>
    <%= form.text_area :seo_keyword4 %>
  </div>
  <div class='field'>
    <%= form.label :Seo_Key_Word %>
    <%= form.text_area :seo_keyword5 %>
  </div>
  <div class='field'>
    <%= form.label :Seo_Key_Word %>
    <%= form.text_area :seo_keyword6 %>
  </div>
   <div class="field">
      <p>Ajoutez l'URL de la photo choisi sur Unsplah ou autre</p>
      <%= form.label :url_de_la_photo %>
      <%= form.text_area :pic_url %>
  </div>

 


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
