<div class="container">
  <h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Identifiant de l'auteur</th>
      <th>Titre de m'article</th>
      <th>Sous-titre</th>
      <th>Auteru publique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.title %></td>
        <td><%= post.sub_title %></td>
        <td><%= post.author %></td>
        <td><%= link_to 'Voir les détails ', post, class: "buttonGreen"%></td>
        <td><%= link_to 'Modifier', edit_post_path(post), class: "buttonBlue"%></td>
        <td><%= link_to 'Supprimer', post, method: :delete, data: { confirm: "Voulez vous supprimer l'article" }, class: "buttonRed"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un article', new_post_path, class: "buttonGreen" %>

</div>
