<!DOCTYPE html>
<html>
  <head>
    <title>BackColleKairouan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar">
           <%=link_to "Accueil ", root_path %>
           <%=link_to "Articles ", posts_path %>
           <%=link_to "Évènements", events_path%>

      </nav>
    <%= yield %>
  </body>
</html>
